In [6]:
import pandas as pd

In [12]:
dframe1 = pd.read_csv("uts/data1.csv")
dframe1.head()

     Nama  Usia  Nilai_Test  Gaji  Nilai_Wawancara  Pengalaman
0    Rudi    20          75  4000               70           1
1  Farhan    24          80  5500               75           3
2    Lisa    23          80  4000               70           4
3  Rahman    30          85  6500               75          10
4   Iqbal    31          85  6000               80           9

In [13]:
dframe2 = pd.read_csv("uts/data2.csv")
dframe2.head()

,Unnamed: 0,Usia,Nilai Test,Gaji yang diminta (dalam ribuan),nilai wawancara,Pengalaman (thn)
0,Bobot,3,5,3,5,4
1,Jenis kriteria,cost,benefit,cost,benefit,benefit

In [14]:
dframe3 = pd.read_csv("uts/data3.csv")
dframe3.head()

   Bobot            Keterangan
0      1  Sangat tidak penting
1      2         Tidak penting
2      3         Cukup penting
3      4               Penting
4      5        Sangat Penting